<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <style>
    html * { font-family:'Roboto' !important;}

    div {
      padding-top:10px; padding-bottom:10px; align:center;
    }
  </style>
  </head>
  <body>

  <div>
    <table style="margin: 0;text-align:center; width=520px; border-style: solid"   cellspacing="0" cellpadding="0" border="0">
    <tbody width="420">
      <tr>
      <tr>
        <td width="36">&nbsp;</td>
        <td style="border:0; padding-top:20px;">
          <img style="height: 410px; object-fit: cover;" src="https://drive.google.com/uc?export=view&id=1m4EZjHvTYzoX5rnDx5lfsJDJARkdWSuP" alt="Presik" height= "260" width="525">
        </td>
        <td width="36">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td bgcolor="#FFFFFF">
          <table style="line-height:19px;font-size:14px;text-align:justify" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="3">&nbsp;</td>
              </tr>
              <tr>
                <td width="10%">&nbsp;</td>
                <td style="font-weight:bold;font-size:16px" width="100%">{{ record.equipment.rec_name}},</td>
                <td width="10%">&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20"><strong style="color:#1f52a5;  font-size:15px">Gestión de Mantenimiento</strong></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                  <table style="font-size:15px" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody>
                      <tr>
                        <td width="20%"><strong>Empresa:</strong></td>
                        <td width="100%">&nbsp;{{ record.company.party.name}}</td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Numero:</strong></td>
                        <td width="100%">&nbsp;{{ record.number}}</td>
                      </tr>
                      <tr>
                        <td width="20%"><strong>Fecha:</strong></td>
                        <td width="100%">&nbsp;{{ record.request_date.strftime('%d-%b-%Y') }}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td height="20">&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td height="30">&nbsp;</td>
              </tr>
              <tr height="10">
                <td>&nbsp;</td>
                <td>
                </td>
              </tr>
              <tr height="20" style="font-size:12px">
                <td >&nbsp;</td>
                <td>
                  <table cellspacing="0" cellpadding="0" border="0" align="left">
                    <tbody>
                      <tr>
                        <td width="400">Nota: Favor no responder este mensaje, para mayor información
                          comuniquese con el correo de contacto.</td>
                        <td height="10">&nbsp;</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td height="30">&nbsp;</td>
              </tr>
              <tr style="font-size:18px;color:#ffffff;text-align:center;  background-color:#606264" height="90">
                <td colspan="3" >
                    <span> ¿Ya tienes lista tu Nómina Electrónica? <br> <br>¡Nosotros te ayudamos, contactanos! </span>
                </td>
              </tr>
            </tbody>
          </table>
          <table style="font-size:14px; text-align:center; background-color:#3D3C3A" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td colspan="5" style="border:0; padding:0; margin:0; font-size:0%" height="8">&nbsp;</td>
              </tr>
              <tr>
                <td width="5%">&nbsp;</td>
                <td width="43%"><span style="color:#1eb0ed;">Bucaramanga</span></td>
                <td width="4%">&nbsp;</td>
                <td width="43%"> <span style="color:#1eb0ed">Contacto</span><br>
                  <a style="font-size:14px;color:#ffffff;text-align:center" href="http://www.presik.com/contact_us/" target="_blank" data-saferedirecturl="http://www.presik.com/contact_us/">
                    mantenimiento@hotelacres.com
                  </a>
                </td>
                <td width="5%"><br>
                </td>
              </tr>
              <tr>
                <td colspan="5" style="border:0; padding:0; margin:0; font-size:0%" height="4"><br>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td> <span style="color:#1eb0ed">Sitio Web</span><br>
                  <a style="font-size:14px;color:#ffffff;text-align:center" href="http://www.presik.com">www.presik.com</a>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr bgcolor="#3D3C3A">
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr
    </tbody>
  </table>
  </div>
  </body>

</html>
